{% extends "base.html" %}
{% block cssLinksAndTitle %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<title>
 Coder's Club
</title>
<body>
 {% endblock cssLinksAndTitle %}
{% block mainContent %}
 <div id="home-top">
  <div class="home-content text-light position-absolute top-50 start-50 translate-middle">
   <h6>
    <a class="underline-animated text-decoration-none text-white">
     WELCOME TO THE CLUB
    </a>
   </h6>
   <h1 class="fs-1">
    Enjoy the Ultimate
   </h1>
   <h1>
    Coder's Club Experience
   </h1>
   <button class="btn btn-success" type="button">
    Join Our Club
   </button>
  </div>
 </div>
 <div class="about">
  <h6 class="text-primary text-center py-4">
   <a class="underline-animated text-decoration-none">
    About Us
   </a>
  </h6>
  <div class="d-flex justify-content-center mx-auto flex-wrap">
   <div id="left-about">
    <h6 class="text-primary">
     <a class="underline-animated text-decoration-none">
      Coding Training
     </a>
    </h6>
    <h1>
     Take your Experience
    </h1>
    <h1>
     To Next Level
    </h1>
    <p>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
            voluptates velit aliquam reprehenderit quae aspernatur itaque
            aliquid perspiciatis iure quis, est odit inventore repellendus
            ducimus quisquam facilis eius commodi minus. Odit laborum suscipit
            asperiores.
    </p>
    <button class="btn btn-primary" type="button">
     About Us
    </button>
   </div>
   <div id="right-about">
    <img alt="" id="right-about-img1" src="{{ MEDIA_URL }}static-images/about-img-2.jpg"/>
    <img alt="" id="right-about-img2" src="{{ MEDIA_URL }}static-images/about-img-1.jpg"/>
   </div>
  </div>
 </div>
 <div class="events align-center">
  <h6 class="text-primary text-center py-3">
   <a class="underline-animated text-decoration-none">
    Our Events
   </a>
  </h6>
  <div class="event-body d-flex justify-content-center mx-auto flex-wrap">
   <div class="event-card" style="width: 18rem;">
    <img alt="..." class="card-img-top" src="{{ MEDIA_URL }}static-images/home2.png"/>
    <div class="card-details">
     <h5 class="text-title mt-3">
      FlutterKode
     </h5>
     <p class="text-body">
      A competition of Flutter App Development
     </p>
     <a class="event-card-button" href="#">
      More info
     </a>
    </div>
   </div>
   <div class="event-card" style="width: 18rem;">
    <img alt="..." class="card-img-top" src="{{ MEDIA_URL }}static-images/home1.jpg"/>
    <div class="card-details">
     <h5 class="text-title mt-3">
      WebKode
     </h5>
     <p class="text-body">
      A competition of Website Development
     </p>
     <a class="event-card-button" href="#">
      More info
     </a>
    </div>
   </div>
   <div class="event-card" style="width: 18rem;">
    <img alt="..." class="card-img-top" src="{{ MEDIA_URL }}static-images/home4.jpg"/>
    <div class="card-details">
     <h5 class="text-title mt-3">
      Speed Programming
     </h5>
     <p class="text-body">
      A competition of Flutter App Development
     </p>
     <a class="event-card-button" href="#">
      More info
     </a>
    </div>
   </div>
  </div>
  <div class="d-grid gap-2 col-2 mx-auto pt-5 pb-4">
   <button class="btn btn-primary" type="button">
    More Events
   </button>
  </div>
 </div>

 <section class="details-card">
  <h6 class="text-primary text-center">
   <a class="underline-animated text-decoration-none">
    Our Blogs
   </a>
  </h6>
  <h3 class="text-black text-center my-5">
   Featured Blogs
  </h3>
  <div class="container">
   <div class="row">
     <div class="col-md-4 mb-4">
     <div class="card-content">
      <div class="card-img">
       <img alt="" src="https://placeimg.com/380/230/nature"/>
       <span class="bg-primary">
        <h4>
         heading
        </h4>
       </span>
      </div>
      <div class="card-desc">
       <h3>
        Heading
       </h3>
       <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo,
                  perspiciatis
                  voluptas totam
       </p>
       <a class="btn-card bg-primary" href="#">
        Read
       </a>
      </div>
     </div>
    </div>
     <div class="col-md-4 mb-4">
     <div class="card-content">
      <div class="card-img">
       <img alt="" src="https://placeimg.com/380/230/animals"/>
       <span class="bg-primary">
        <h4>
         heading2
        </h4>
       </span>
      </div>
      <div class="card-desc">
       <h3>
        Heading2
       </h3>
       <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo,
                  perspiciatis
                  voluptas totam
       </p>
       <a class="btn-card bg-primary" href="#">
        Read
       </a>
      </div>
     </div>
    </div>
    <div class="col-md-4">
     <div class="card-content">
      <div class="card-img">
       <img alt="" src="https://placeimg.com/380/230/tech"/>
       <span class="bg-primary">
        <h4>
         heading3
        </h4>
       </span>
      </div>
      <div class="card-desc">
       <h3>
        Heading3
       </h3>
       <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo,
                  perspiciatis
                  voluptas totam
       </p>
       <a class="btn-card bg-primary" href="#">
        Read
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </section>
 <!-- our team section -->
 <section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row ourTeamRow heading heading-icon">
    <h2 class="text-dark">
     <a class="underline-animated text-decoration-none">
      Our Team
     </a>
    </h2>
   </div>
   <ul class="row">
    <li class="col-12 col-md-6 col-lg-3">
     <div class="cnt-block equal-hight" style="height: 349px;">
      <figure>
       <img alt="" class="img-responsive" src="http://www.webcoderskull.com/img/team4.png"/>
      </figure>
      <h3>
       <a href="http://www.webcoderskull.com/">
        Web coder skull
       </a>
      </h3>
      <p>
       Freelance Web Developer
      </p>
      <ul class="follow-us clearfix">
       <li>
        <a href="#">
         <i aria-hidden="true" class="fa fa-facebook">
         </i>
        </a>
       </li>
       <li>
        <a href="#">
         <i aria-hidden="true" class="fa fa-twitter">
         </i>
        </a>
       </li>
       <li>
        <a href="#">
         <i aria-hidden="true" class="fa fa-linkedin">
         </i>
        </a>
       </li>
      </ul>
       <a class="button" href="#">
        Portfolio
       </a>
     </div>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
     <div class="cnt-block equal-hight" style="height: 349px;">
      <figure>
       <img alt="" class="img-responsive" src="http://www.webcoderskull.com/img/team1.png"/>
      </figure>
      <h3>
       <a href="#">
        Kappua
       </a>
      </h3>
      <p>
       Freelance Web Developer
      </p>
      <ul class="follow-us clearfix">
       <li>
        <a href="#">
         <i aria-hidden="true" class="fa fa-facebook">
         </i>
        </a>
       </li>
       <li>
        <a href="#">
         <i aria-hidden="true" class="fa fa-twitter">
         </i>
        </a>
       </li>
       <li>
        <a href="#">
         <i aria-hidden="true" class="fa fa-linkedin">
         </i>
        </a>
       </li>
      </ul>
       <a class="button" href="#">
        Portfolio
       </a>
     </div>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
     <div class="cnt-block equal-hight" style="height: 349px;">
      <figure>
       <img alt="" class="img-responsive" src="http://www.webcoderskull.com/img/team4.png"/>
      </figure>
      <h3>
       <a href="http://www.webcoderskull.com/">
        Manish
       </a>
      </h3>
      <p>
       Freelance Web Developer
      </p>
      <ul class="follow-us clearfix">
       <li>
        <a href="#">
         <i aria-hidden="true" class="fa fa-facebook">
         </i>
        </a>
       </li>
       <li>
        <a href="#">
         <i aria-hidden="true" class="fa fa-twitter">
         </i>
        </a>
       </li>
       <li>
        <a href="#">
         <i aria-hidden="true" class="fa fa-linkedin">
         </i>
        </a>
       </li>
      </ul>
       <a class="button" href="#">
        Portfolio
       </a>
     </div>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
     <div class="cnt-block equal-hight" style="height: 349px;">
      <figure>
       <img alt="" class="img-responsive" src="http://www.webcoderskull.com/img/team2.png"/>
      </figure>
      <h3>
       <a href="http://www.webcoderskull.com/">
        Atul
       </a>
      </h3>
      <p>
       Freelance Web Developer
      </p>
      <ul class="follow-us clearfix">
       <li>
        <a href="#">
         <i aria-hidden="true" class="fa fa-facebook">
         </i>
        </a>
       </li>
       <li>
        <a href="#">
         <i aria-hidden="true" class="fa fa-twitter">
         </i>
        </a>
       </li>
       <li>
        <a href="#">
         <i aria-hidden="true" class="fa fa-linkedin">
         </i>
        </a>
       </li>
      </ul>
       <a class="button" href="#" id="portfolio">
        Portfolio
       </a>
     </div>
    </li>
   </ul>
  </div>
 </section>
 <!-- FAQ section -->
 <h6 class="text-primary text-center mt-3">
  <a class="underline-animated text-decoration-none">
   FAQs
  </a>
 </h6>
 <div class="faq my-5">
  <div class="d-flex justify-content-evenly mx-auto flex-wrap">
   <div id="left-faq">
    <h6 class="text-primary">
     PEOPLE ASK
    </h6>
    <div class="accordion" id="accordionExample">
     <div class="accordion-item">
      <h2 class="accordion-header">
       <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button" data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
        Question 1
       </button>
      </h2>
      <div class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="collapseOne">
       <div class="accordion-body">
        <strong>
         This is the first item's accordion body.
        </strong>
         It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
        <code>
         .accordion-body
        </code>
        , though the transition does limit overflow.
       </div>
      </div>
     </div>
     <div class="accordion-item">
      <h2 class="accordion-header">
       <button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
        Accordion Item #2
       </button>
      </h2>
      <div class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseTwo">
       <div class="accordion-body">
        <strong>
         This is the second item's accordion body.
        </strong>
         It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
        <code>
         .accordion-body
        </code>
        , though the transition does limit overflow.
       </div>
      </div>
     </div>
     <div class="accordion-item">
      <h2 class="accordion-header">
       <button aria-controls="collapseThree" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button">
        Accordion Item #3
       </button>
      </h2>
      <div class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseThree">
       <div class="accordion-body">
        <strong>
         This is the third item's accordion body.
        </strong>
         It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
        <code>
         .accordion-body
        </code>
        , though the transition does limit overflow.
       </div>
      </div>
     </div>
    </div>
   </div>
   <div id="right-faq">
    <!-- <img id="right-faq-img1" src="{{ MEDIA_URL }}static-images/about-img-2.jpg" alt="" /> -->
    <img alt="" id="right-faq-img2" src="{{ MEDIA_URL }}static-images/icons/faq1.png">
    </img>
   </div>
  </div>
 </div>
 {% endblock mainContent %}