{% extends "base.html" %}
<!-- {% load static %} -->
{% block cssLinksAndTitle %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
	<title>Gallery - Coder's Club</title>
{% endblock cssLinksAndTitle %}
{% block mainContent %}
		<div id="gallery">
			<div class="gallery-home-content text-light position-absolute top-50 start-50 translate-middle">
				<h1>Welcome</h1>
				<h1>Coder's Club Gallery</h1>
			</div>
		</div>

		<h1 class="text-center my-4">Competitions Glimps</h1>

		<div class="gallery-album text-center mt-4">
			<div class="gallery-cover">
				<div class="gallery-cover-image"></div>
				<div class="gallery-cover-text d-flex justify-content-center align-item-center flex-column">
					<h2 class="fs-1">WebKoder's Competition</h2>
					<p class="fs-5">A Website Design and Development Competition</p>
					<p class="fs-6">
						Competition occur's between BCIT students of all batches
					</p>
				</div>
			</div>

			<!-- image slider -->
			<div class="image-slider">
				<div class="slide-container swiper">
					<div class="slide-content">
						<div class="card-wrapper swiper-wrapper">
							<div class="swiper-slide">
								<div class="slider-card">
									<img src="./images/home4.jpg" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slider-card">
									<img src="./images/about-img-1.jpg" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slider-card">
									<img src="./images/about-img-2.jpg" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slider-card">
									<img src="./images/about-img-3.jpg" alt="" />
								</div>
							</div>
						</div>
						<a href="{% url 'gallery-selected' %}"><button class="btn btn-primary mt-3" id="webbtn">
								View More
							</button></a>
					</div>

					<div class="swiper-button-next swiper-navBtn"></div>
					<div class="swiper-button-prev swiper-navBtn"></div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>

		<div class="gallery-album text-center">
			<div class="gallery-cover">
				<div class="gallery-cover-image"></div>
				<div class="gallery-cover-text d-flex justify-content-center align-item-center flex-column">
					<h2 class="fs-1">AI Competition</h2>
					<p class="fs-5">Artificial Intelligence Competition</p>
					<p class="fs-6">
						Competition occur's between BCIT students of all batches
					</p>
				</div>
			</div>

			<!-- image slider -->
			<div class="image-slider">
				<div class="slide-container swiper">
					<div class="slide-content">
						<div class="card-wrapper swiper-wrapper">
							<div class="swiper-slide">
								<div class="slider-card">
									<img src="./images/home1.jpg" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slider-card">
									<img src="./images/card1.jpg" alt="" />
								</div>
							</div>

							<div class="swiper-slide">
								<div class="slider-card">
									<img src="./images/about-img-2.jpg" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slider-card">
									<img src="./images/about-img-3.jpg" alt="" />
								</div>
							</div>
						</div>

						<a href="./galleries/galleryAi.html"><button class="btn btn-primary mt-3" id="aibtn">
								View More
							</button></a>
					</div>

					<div class="swiper-button-next swiper-navBtn"></div>
					<div class="swiper-button-prev swiper-navBtn"></div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>

		<div class="gallery-album text-center">
			<div class="gallery-cover">
				<div class="gallery-cover-image"></div>
				<div class="gallery-cover-text d-flex justify-content-center align-item-center flex-column">
					<h2 class="fs-1">FlutterKode Competition</h2>
					<p class="fs-5">A Mobile App Design and Development Competition</p>
					<p class="fs-6">
						Competition occur's between BCIT students of all batches
					</p>
				</div>
			</div>

			<!-- image slider -->
			<div class="image-slider">
				<div class="slide-container swiper">
					<div class="slide-content">
						<div class="card-wrapper swiper-wrapper">
							<div class="swiper-slide">
								<div class="slider-card">
									<img src="./images/home1.jpg" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slider-card">
									<img src="./images/card1.jpg" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slider-card">
									<img src="./images/home3.jpg" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="slider-card">
									<img src="./images/home4.jpg" alt="" />
								</div>
							</div>
						</div>

						<a href="./galleries/galleryFlutter.html"><button class="btn btn-primary mt-3" id="flutterbtn">
								View More
							</button></a>
					</div>

					<div class="swiper-button-next swiper-navBtn"></div>
					<div class="swiper-button-prev swiper-navBtn"></div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
{% endblock mainContent %}

{% block jsLinks %}
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
{% endblock jsLinks %}
