{% extends "base.html" %}
{% block cssLinksAndTitle %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet"/>
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com" rel="preconnect"/>
<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
<link href="https://fonts.googleapis.com/css2?family=Bangers&amp;display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com" rel="preconnect"/>
 <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
 <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&amp;display=swap" rel="stylesheet"/>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
 </script>
 <script crossorigin="anonymous" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js">
 </script>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js">
 </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js">
 </script>
 <title>
  Join Community - Coder's Club
 </title>
 <body>
  {% endblock cssLinksAndTitle %}
{% block mainContent %}
  <div class="BreadCrumb">
   <img aria-label="breadcrumb"/>
   <ol class="breadcrumb">
    <li class="breadcrumb-item">
     <a href="FrontPage.html">
      Home
     </a>
    </li>
    <li aria-current="page" class="breadcrumb-item active">
     Join Our Club
    </li>
   </ol>
  </div>
  <div class="container ClubSections">
   <div class="row my-5">
    <div class="col-12 paraDivClub">
     <p id="text">
      Are you interested in learning how to code? Do you want to develop the skills needed to create websites and apps? Then our coding club is the perfect place for you!
     </p>
     <p id="text1">
      At our club, We offer a variety of resources, including video tutorials, coding challenges, webinars, and workshops. Our experienced mentors are always available to provide guidance and answer any questions you may have.
     </p>
     <p id="text2">
      So why wait? Join our coding club today and start your journey to becoming a skilled programmer!
     </p>
    </div>
   </div>
   <div class="row my-5">
    <div class="col-12 imgDivClub">
     <video autoplay="" controls="" height="400px" muted="" src="{{ MEDIA_URL }}static-images/videoplayback.mp4" width="1078px">
     </video>
    </div>
   </div>
   <div class="container py-5 h-100 communityContainer">
    <div class="row d-flex justify-content-center align-items-center h-100">
     <div class="col">
      <div class="card card-registration my-4">
       <div class="row g-0">
        <div class="col-xl-12 Registration">
         <form class="card-body p-md-5 text-black formCommunity" method="post" onsubmit="return validation();">
          <div class="Reg_flex" style="top:-29px !important;left: 0px !important;">
           <img alt="" height="100" id="regLogo mx-3" src="{{ MEDIA_URL }}static-images/Club/c2.jpg" width="150"/>
           <span class="mb-5 px-5 text-uppercase">
            Join Our Club
           </span>
          </div>
          <div class="row d-md-flex">
           <div class="col-md-6 mb-4">
            <h5 class="mb-0 me-4">
             Join As a:
            </h5>
            <div class="form-check form-check-inline mb-0 me-4">
             <input class="form-check-input regRadio" id="TeamLead" name="Profession" required="" type="radio" value="option1"/>
             <label class="form-check-label" for="TeamLead">
              Team Lead
             </label>
            </div>
            <div class="form-check form-check-inline mb-0 me-4">
             <input class="form-check-input regRadio" id="TeamMember" name="Profession" type="radio" value="option2"/>
             <label class="form-check-label" for="TeamMember">
              Team Member
             </label>
            </div>
           </div>
           <div class="col-md-6 mb-4">
            <select aria-label="default select example" class="form-control multi-select selectpicker" data-live-search="true" multiple="" placeholder="Select Domain/'s(Multiple)" required="">
             <option value="1">
              One
             </option>
             <option value="2">
              Two
             </option>
             <option value="3">
              Three
             </option>
             <option value="4">
              Four
             </option>
            </select>
           </div>
          </div>
          <div class="row">
           <div class="col-md-12 mb-4">
            <div class="form-outline">
             <input class="form-control form-control-lg" id="form3Example1m" placeholder="Link to Your Profile/Portfolio" required="required" type="text"/>
            </div>
           </div>
          </div>
          <div class="d-flex justify-content-end pt-3">
           <button class="btn btn-lg ms-2 RegBtn" type="submit">
            Apply Now!
           </button>
          </div>
         </form>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div id="message" style="display: none;">
   <div class="container py-5 h-100 communityContainer">
    <div class="row d-flex justify-content-center align-items-center h-100">
     <div class="col">
      <div class="card card-registration my-4">
       <div class="row g-0">
        <div class="col-xl-12 Registration">
         <form class="card-body p-md-5 text-black formCommunity" method="post" onsubmit="return validation();">
          <h1 id="afterJoinCommHeading">
           Your Form Has Been Submitted!
          </h1>
          <p id="afterJoinComm">
           We will be in touch with you very soon!
          </p>
         </form>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  {% endblock mainContent %}
{% block jsLinks %}
  <script>
   let subMenu;
     subMenu= document.getElementById("subMenu");
  function toggleMenu() {
  subMenu.classList.toggle("open-menu");
  }
  </script>
  {% endblock jsLinks %}