{% extends "base.html" %}
{% block cssLinksAndTitle %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous"/>
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  
<title>Leaderboard - Coder's Club</title>
{% endblock cssLinksAndTitle %}
{% block mainContent %}
    <!-- BreadCrumb Section -->
    <div class="BreadCrumb ">
      <img aria-label="breadcrumb" />
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="FrontPage.html">Home</a></li>
        <li class="breadcrumb-item"><a href="Blog.html">Blog</a></li>
        <li class="breadcrumb-item active" aria-current="page">Blogs Page 1</li>
      </ol>
    </div>

    <!-- Main Content -->
    <div class="container pageBlogContainer sections ">
      
      <div class="row my-5">
        <div class="col-4 imgDivBlog">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/assets/images/Blog/b1.jpg" alt="Avatar" >
                  </div>
                  <div class="flip-card-back">
                    <img src="/assets/images/Blog/b2.jpg" alt="">
                  </div>
                </div>
              </div>
        </div>
        <div class="col-8 paraDivBlog">
         <p id="text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam
          eligendi alias incidunt? Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Unde minima error, perspiciatis totam illum
          voluptatem harum! Ea sapiente veritatis esse voluptate sit iusto! Hic,
          distinctio error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi beatae esse commodi sunt tempora accusamus! Sapien? </p>
        </div>
      </div>


      
      <div class="row my-5 ">
        <div class="col-8 paraDivBlog">
          <p id="text1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam
          eligendi alias incidunt? Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Unde minima error, perspiciatis totam illum
          voluptatem harum! Ea sapiente veritatis esse voluptate sit iusto! Hic,
          distinctio error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa iste accusamus ullam nulla nesciunt obcaecati optio placeat expedita molestias quidem numquam id fugit molestiae commodi saepe, enim suscipit deserunt. </p>
        </div>
        <div class="col-4 imgDivBlog">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="/assets/images/Blog/b1.jpg" alt="Avatar" >
                  </div>
                  <div class="flip-card-back">
                    <img src="/assets/images/Blog/b2.jpg" alt="">
                  </div>
                </div>
              </div>
        </div>
      </div>      
    </div>
{% endblock mainContent %}
{% block jsLinks %}
<script>
    let subMenu;
     subMenu= document.getElementById("subMenu");
function toggleMenu() {
  subMenu.classList.toggle("open-menu");
}
</script>
{% endblock jsLinks %}