* {
  padding: 0;
  margin: 0;
}

/* underline animated */

.underline-animated {
  position: relative;
}

.underline-animated:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f31414;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animated:hover:after,
a:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* home */


#home-top {
  height: 100vh;
  background-image: url("../images/home1.jpg");
  background-repeat: no-repeat;
  /* animation: changeBg 5s es infinite alternate; */
  background-size: cover;
}

/* navbar */
header {
  background: #1d7590;
}

nav {
  margin: auto;
  width: 80%;
}

.user-pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.sub-menu-wrap {
  background-color: aqua;
  position: absolute;
  top: 100%;
  right: 0%;
  width: 280px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;

}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background-color: aquamarine;
  padding: 10px;
  margin: 5px;

}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h3 {
  font-weight: 500;

}

.user-info img {
  width: 70px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 5px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-top: 15px;
}

.sub-menu-link p {
  margin: 0;
  padding: 0;
  width: 100%;
}

.sub-menu-link img {
  width: 40px;
  background-color: rgb(216, 208, 208);
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {

  padding-bottom: 3px;
  font-size: 25px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}




/* home */
.home-content {
  text-align: center;
}

.home-content button {
  border-radius: 0px;
}

.about {
  height: 100%;
}

.about button {
  border-radius: 0;
}

#left-about {
  /* height: 100vh; */
  /* background-color: blue; */
  /* margin: auto; */
  width: 500px;
}

#left-about h1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

#right-about {
  height: 80vh;
  /* width: 60%; */
  /* background-color: red; */
}

#right-about-img1 {
  position: relative;
  left: 5rem;
  top: 15rem;
}

#right-about-img2 {
  position: relative;
  top: 5rem;
  right: 2rem;
}

.events {
  height: 100%;
  background-color: rgb(236, 238, 245);
}


/* event card css */
.event-card {
  margin: 10px 40px;
  width: 190px;
  height: 350px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  text-align: center;
}

.card-details {
  color: black;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-details a {
  text-decoration: none;
}

.event-card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.event-card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.event-card:hover .event-card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* card css end here */

.events button {
  border-radius: 20px;
  background-color: #008bf8;
}


#left-faq {
  width: 600px;
}

/* @keyframes content-pop-up {
      0%{
          top : -100px
      }
      100%{
          
      }
  }
  */



/* blog section */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i");

section {
  padding: 100px 0;
}

.details-card {
  background: #ecf0f1;
  margin: 0;
  padding: 30px;
}

.card-content {
  background: #ffffff;
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}

.card-img img {
  width: 100%;
  height: auto;
  display: block;
}

.card-img span {
  position: absolute;
  top: 15%;
  left: 12%;
  background: #1abc9c;
  padding: 6px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(-50%, -50%);
}

.card-img span h4 {
  font-size: 12px;
  margin: 0;
  padding: 10px 5px;
  line-height: 0;
}

.card-desc {
  padding: 1.25rem;
}

.card-desc h3 {
  color: #000000;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.card-desc p {
  color: #747373;
  font-size: 14px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.btn-card {
  background-color: #1abc9c;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0.84rem 2.14rem;
  font-size: 0.81rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;
}

.btn-card:hover {
  background: orange;
}

a.btn-card {
  text-decoration: none;
  color: #fff;
}

/* our team section */
.row.heading h2 {
  color: #fff;
  font-size: 52.52px;
  line-height: 95px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.heading.heading-icon {
  display: block;
}

.padding-lg {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.practice-area.padding-lg {
  padding-bottom: 55px;
  padding-top: 55px;
}

.practice-area .inner {
  border: 1px solid #999999;
  text-align: center;
  margin-bottom: 28px;
  padding: 40px 25px;
}

.our-webcoderskull .cnt-block:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: 0;
}

.practice-area .inner h3 {
  color: #3c3c3c;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 10px 0;
}

.practice-area .inner p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.practice-area .inner img {
  display: inline-block;
}

.our-webcoderskull {
  /* background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover; */
  background: url("../images/our-team-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-webcoderskull .cnt-block {
  float: left;
  width: 100%;
  /* background:#fff;  */
  background: #9cc9d6;
  padding: 30px 20px;
  text-align: center;
  border: 2px solid #d5d5d5;
  margin: 0 0 28px;
}

.our-webcoderskull .cnt-block figure {
  width: 148px;
  height: 148px;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 15px;
}

.our-webcoderskull .cnt-block img {
  width: 148px;
  height: 148px;
  border-radius: 100%;
}

.our-webcoderskull .cnt-block h3 {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-transform: uppercase;
}

.our-webcoderskull .cnt-block h3 a {
  text-decoration: none;
  color: #2a2a2a;
}

.our-webcoderskull .cnt-block h3 a:hover {
  color: #337ab7;
}

.our-webcoderskull .cnt-block p {
  color: #2a2a2a;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.our-webcoderskull .cnt-block .follow-us {
  margin: 2px 0 0;
}

.our-webcoderskull .cnt-block .follow-us li {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}

.our-webcoderskull .cnt-block .follow-us li .fa {
  font-size: 24px;
  color: #767676;
}

.our-webcoderskull .cnt-block .follow-us li .fa:hover {
  color: #025a8e;
}

/* courousel */
#myCarousel .carousel-item .mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

#myCarousel h4 {
  font-size: 50px;
  margin-bottom: 15px;
  color: #fff;
  line-height: 100%;
  letter-spacing: 0.5px;
  font-weight: 600;
}

#myCarousel p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #d5d5d5;
}

#myCarousel .carousel-item a {
  background: #f47735;
  font-size: 14px;
  color: #fff;
  padding: 13px 32px;
  display: inline-block;
}

#myCarousel .carousel-item a:hover {
  background: #394fa2;
  text-decoration: none;
}

#myCarousel .carousel-item h4 {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

#myCarousel .carousel-item p {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

#myCarousel .carousel-item a {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

#myCarousel .carousel-item .mask img {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  display: block;
  height: auto;
  max-width: 100%;
}

#myCarousel h4,
#myCarousel p,
#myCarousel a,
#myCarousel .carousel-item .mask img {
  -webkit-animation-duration: 1s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#myCarousel .container {
  max-width: 1430px;
}

#myCarousel .carousel-item {
  height: 100%;
  min-height: 550px;
}

#myCarousel {
  position: relative;
  z-index: 1;
  background: url(https://i.imgur.com/6axE29k.jpg) center center no-repeat;
  background-size: cover;
}

.carousel-control-next,
.carousel-control-prev {
  height: 40px;
  width: 40px;
  padding: 12px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  background-color: #f47735;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
  opacity: 1;
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
  opacity: 0;
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

@supports (transform-style: preserve-3d) {

  .carousel-fade .carousel-item-left.active,
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item-prev.active,
  .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@keyframes changeBg {
  0% {
    background-image: url("../images/home1.jpg");
  }

  50% {
    background-image: url("../images/home3.jpg");
  }

  100% {
    background-image: url("../images/home1.jpg");
  }
}


/* sponsors */
CSS Pretty Print
/* @import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300); */


/* * {
       box-sizing: border-box; */
/* }
   body {
       font-family: 'Nunito', sans-serif;
  } */
.page {
  margin: 0 auto;
  width: 920px;
}

.content {
  width: 33.33%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  max-width: 300px;
}

.circle_inner__layer {
  width: 600px;
  height: 200px;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  left: -200px;
}

.circle_inner__layer img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  width: 200px;
  transform: translateY(-50%);
  transition: all 0.5s;
  cursor: pointer;
}

.circle:hover .circle_shine {
  top: 330px;
  left: -200px;
}

.circle_shine {
  background: white;
  width: 600px;
  transition: 0.3s;
  height: 200px;
  opacity: 0.2;
  top: -10px;
  left: -90px;
  transform: rotate(45deg);
  position: absolute;
  z-index: 2;
}

.circle:hover h2,
.circle:hover h3 {
  opacity: 1;
  top: -36px;
}

.circle:hover .content_shadow {
  transform: scale(1.1);
  top: -22px;
}

.circle:hover h3 {
  transition: all 0.2s 0.04s;
}

.circle:hover h2 {
  transition: all 0.2s;
}

.circle .circle_inner__layer:nth-of-type(1) {
  top: 0px;
  left: 0px;
}

.circle .circle_inner__layer:nth-of-type(2) {
  top: 0px;
  left: -210px;
}

.circle .circle_inner__layer:nth-of-type(3) {
  top: 0px;
  left: -440px;
}

.circle_title {
  text-align: center;
}

.circle_title h2,
.circle_title h3 {
  opacity: 0;
  color: #4a7479;
  margin: 0;
  transition: all 0.2s 0.04s;
  position: relative;
  top: -10px;
}

.circle_title h3 {
  transition: all 0.2s;
  color: #b0d5d6;
  font-size: 15px;
}

.circle_inner {
  border-radius: 200px;
  background: #b0d5d6;
  overflow: hidden;
  margin: auto;
  width: 200px;
  z-index: 1;
  transition: all 0.3s;
  height: 200px;
  position: relative;
}

.circle_inner:hover {
  transform: scale(1.1);
}

.circle_inner:hover .circle_inner__layer:nth-of-type(1) {
  left: -80px;
  transition: all 4s linear;
}

.circle_inner:hover .circle_inner__layer:nth-of-type(2) {
  left: -400px;
  transition: all 4s linear;
}

.circle_inner:hover .circle_inner__layer:nth-of-type(3) {
  left: -140px;
  transition: all 4s linear;
}

.content_shadow {
  width: 200px;
  box-shadow: 0px 31px 19px -2px #e0e8f9;
  height: 20px;
  border-radius: 70%;
  position: relative;
  top: -44px;
  transition: all 0.3s;
  z-index: 0;
}

/* leaderboard */

.leaderboard-body-container {
  margin-top: -62px;
  padding-top: 52px;
  padding-bottom: 20px;
  background-color: #05696d;
}

/* leaderboard */

.position h1 {
  padding-left: 2vw;
  padding-right: 4vw;
}

.position img {
  width: 9vw;
}

@media screen and (max-width:500px) {
  .achiever-pic {
    display: none;
  }


}

.vl {
  border-left: 6px solid rgb(1, 51, 47);
  height: 150px;
  margin: 10px;
}

.leaderboard {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  /* width: 80%;   */
  display: flex;
  justify-content: center;
}

.width-80 {
  margin: 10px 0;
  width: 80%;
}

.achiever {
  background-color: #2e7d80;

  align-items: center;
  /* background-color: #3195e7; */
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80vw;
  /* max-width: 500px; */
}


.topper {
  padding-left: 0px !important;
  background-color: #1ad6bdaf;
  animation: popup 2.2s infinite ease-in-out;
}

@keyframes popup {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

.achiever-pic {
  width: 250px;
  height: 150px;
  border-radius: 5%;
  overflow: hidden;
  /* margin-bottom: px; */
}

.achiever-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.achiever-name {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

/* Leaderboard card */

.leaderboard-card {
  margin-top: 6px !important;
  color: white !important;
}

.team-box {
  margin: 0 auto;
}

.container-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.team-box {
  display: none;
}

#row1:hover .team-box1 {
  display: block;
  /* width: 80%; */
}

#row2:hover .team-box2 {
  display: block;
}

#row3:hover .team-box3 {
  display: block;
}

#row4:hover .team-box4 {
  display: block;
}

#row5:hover .team-box5 {
  display: block;
}

.leaderboard-card {
  /* width: calc(25% - 20px); */

  width: 250px;
  background-color: #2e7d80 !important;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}


.circular-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.role {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.button {
  background-color: #4285f4;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  padding: 5px 14px !important;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #3367d6;
}

@media (max-width: 1045px) {
  .topper {
    padding-left: 8px !important;
  }

  .circular-image {
    width: 100px;
    height: 100px;
  }

  .name {
    font-size: 15px;
  }

  .button {
    font-size: 14px;
  }
}

@media (max-width: 600px) {




  .circular-image {
    width: 100px;
    height: 100px;
  }

  .name {
    font-size: 15px;
  }

  .button {
    font-size: 14px;
  }

  .container-team {
    flex-direction: column;
  }
}

.circular-image-container {
  text-align: center;
  /* max-width: 400px; */
  margin: 0 auto;
  text-align: center;
  transition: transform 0.2s ease-out;
}

.circular-image-container:hover {
  transform: scale(1.05);
}

.circular-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.button {
  background-color: #4285f4;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #3367d6;
}

/* icons social media */
.follow-us {
  margin-bottom: 16px;
  padding: 0;
}

.follow-us li {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}

.follow-us li .fa {
  font-size: 24px;
  color: white;
}

.follow-us li .fa:hover {
  color: #025a8e;
}



/* gallery */
.gallery-home-content {
  color: black;
  text-align: center;
  padding-bottom: 250px;
}

h1 {
  font-size: 50px;
}

.gallery-home-content button {
  border-radius: 0px;
}



#gallerybody {
  background-color: rgb(148, 214, 214);
  /* overflow: hidden; */
}

#gallery {
  margin-top: -62px;
  background-image: url(../images/gallery-bg.jpg);
  height: 60vh;
  background-repeat: no-repeat;
  /* animation: changeBg 5s es infinite alternate; */
  background-size: cover;

}


/* album */

.diff {
  position: relative;
  margin-top: -200px;
}

.gallery-album {
  /* background-color: #f31414; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}


.gallery-cover {
  position: relative;
  width: 90vw;
  height: 60vh;
  overflow: hidden;
}

.gallery-cover-image {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(82, 91, 135, 1) 35%, rgba(0, 212, 255, 1) 100%);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.gallery-cover-text {
  position: absolute;
  /* bottom: -100%; */
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  transition: bottom 0.3s ease-in-out;
}

.gallery-cover:hover .gallery-cover-text {
  bottom: 0;
}

/* image slider */

.image-slider {
  width: 100%;
  /* padding-bottom: 460px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #EFEFEF; */
}

.slide-container {
  position: relative;
  margin-top: -130px;
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;

}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.slider-card {
  width: auto;
  /* height: auto; */

  height: 256px;
  border-radius: 25px !important;
}

.slider-card img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.swiper-navBtn {

  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #ec1111;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #f70000;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}




.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
}

.pic-card {
  width: 360px;
  height: 256px;
  margin: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.pic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.pic-card img {
  width: 100%;
  height: 100%;
}

.view-more {
  margin-top: -80px;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* card css end here */













/* footer section */
.footer-section {
  background: #166a84;
  padding-bottom: 5px;
  padding-top: 0;
  margin-top: 0;
}

.footer-section-row {
  background: #1d7590;
  padding-top: 18px;
  margin-bottom: 20px;

}

.address {
  padding: 10px;
  display: flex;
}

.right-text {
  padding-left: 28px;
}

.right-text h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}

.right-text p {
  margin: 0px;
  color: #fff;
  font-size: 15px;
  line-height: 23px;
}

.footer-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f7bb07;
  font-size: 20px;
  margin-bottom: 23px;
  font-weight: 700;
  position: relative;
}

.footer-title span::before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #f7bb07;
}

.footer-title-text {
  background: #166a84;
  z-index: 999;
  position: relative;
}

.footer-title-underline {
  height: 1px;
  background-color: #f7bb07;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0px;
}

.quick-link-list {
  list-style-type: none;
  padding: 0px;
}

.quick-link-list li a {
  color: #fff;
  margin-bottom: 8px;
  display: block;
}

.footer-section-bottom {
  background: #1d7590;
  padding: 17px 0px;
}

.footer-bottom-left p {
  margin: 0px;
  color: #fff;
}

.footer-bottom-right p {
  margin: 0px;
  color: #fff;
  text-align: right;
}

.footer-bottom-right p a {
  color: #dcd735;
}

.title-transparent {
  opacity: 0 !important;
}

#social {
  margin: 20px 10px;
  text-align: center;
}

.smGlobalBtn {
  /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 2px solid #ddd;
  /* add border to the buttons */
  box-shadow: 0 3px 3px #999;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  /* color: #fff; */
  font-size: 22px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
}

/* facebook button class*/

.facebookBtn {
  background: blue;
}

.facebookBtn:before {
  /* use :before to add the relevant icons */
  font-family: "FontAwesome";
  content: "\f09a";
  /* add facebook icon */
}

.facebookBtn:hover {
  color: #4060a5;
  background: blue;
  border-color: #1877f2;
  /* change the border color on mouse hover */
}

/* twitter button class*/

.twitterBtn {
  background: black;
}

.twitterBtn:before {
  font-family: "FontAwesome";
  content: "\f099";
}

.twitterBtn:hover {
  color: #00abe3;
  background: #fff;
  border-color: #00abe3;
}

/* linkedin button class*/

.linkedinBtn {
  background: #0094bc;
}

.linkedinBtn:before {
  font-family: "FontAwesome";
  content: "\f0e1";
  /* add linkedin icon */
}

.linkedinBtn:hover {
  color: #0094bc;
  background: #fff;
  border-color: #2867b2;
  /* youtube button class */
}

.youtubeBtn {
  background: #bf1d23;
}

.youtubeBtn:before {
  font-family: "FontAwesome";
  content: "\f167";
  /* add linkedin icon */
}

.youtubeBtn:hover {
  color: #bf1d23;
  /* background: #fff; */
  border-color: #bf1d23;
}

/* youtube button class */

.form-control-new {
  border-radius: 0px;
  position: relative;
}

.form-control-new:before {
  content: "/f0e0";
  font-family: FontAwesome;
  position: absolute;
  left: 0px;
  top: 0px;
}

.newsletter {
  color: #fff;
}

.subscribe {
  width: 100%;
  border-radius: 0px;
  background: #24829f;
  border: 1px solid #6ac5e1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 20px;
}